node_modules
public/jspm_packages
public/bower_components
public/build.js
public/build.js.map
dist
docs
coverage
junit
public/styles/sourcemaps/app.css.map
.idea
*.iml
.project
npm-debug.log
*.log
.DS_Store
*.DS_Store
/builds